<div id="carouselExampleControls" class="carousel slide mt-0" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.postimg.cc/brYd64fR/sick.jpg" alt="First slide">
        <div class="centered-text">Qaiyrymdylyq jasasañ,
            Qaiyryn özıñ köresıñ</div>
          <button class="btn" routerLink="/fundraiser">Start Fundraising</button>
      </div>
    </div>
</div>
<h3 class="text">Top Fundraisers</h3>
<div class="row mt-5">
    <div class="col-4 mb-3" *ngFor="let fundraising of fundraisings">
        <div class="card justify-content-center" style="width: 18rem;">
            <img class="card-img-top" src="{{fundraising.imagePath}}" alt="Card image cap">
            <div class="card-body" style="height: 10rem;">
              <h5 class="card-title">{{fundraising.title | slice: 0: 22}}<b *ngIf="fundraising.title.length > 22">....</b></h5>
              <p class="card-text">{{fundraising.details | slice: 0: 85}}<i *ngIf="fundraising.details.length > 85">...</i></p>
            </div>
            <div class="card-footer">
            <p>Last donation 3 mins ago</p>
            <p class="txt">₸20.000 raised of ₸{{getAmount(fundraising.amount_goal)}}</p>
            </div>
            <a [routerLink]="" class="stretched-link" (click)="onSelect(fundraising._id)"></a>
        </div>
    </div>
</div>
